# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
debug
TestDBConnection.db
cmd/WamasService.db
cmd/cmd
cmd/wamasservice
cmd/WamasDB.db
cmd/WmsDB.db
